body {
  background: white;
  font-family: arial, sans-serif;
  display: flex;
  flex-direction: column; 
}
#nav-bar {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  justify-content: space-between;
  
}
#left-links {
  display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
  padding: 0px 0px 0px 0px;
}
#about{
  padding: 0px 0px 0px 15px;
}
#store {
  padding: 0px 0px 0px 15px;
}
#right-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px 30px 0px 30px;
}
#gmail {

}
#images {
  padding: 0px 15px 0px 15px;
}
#app-menu {
    width: 100%;
    height: auto;
    max-width:20px;
}
#Sign-in{
  margin: 0px 0px 0px 15px;
}

#main {
  font-size: 13px;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  
}
#logo {
  width: 25%;
  height: auto;
  margin: 47px 0px 0px 0px;
  
}
#searchbar {
  
   
}
#search-button-div {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.search-button {
  
}


#switch-language {
  
}
#footer1 {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#footer2 {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#left-links-footer {
  justify-items: flex-start;
}
#right-links-footer {
  justify-items: flex-end;
}